footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-normal-block {
  background-color: #d3d6da;
  width: 40px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
}
.keyboard-special-block {
  background-color: #d3d6da;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
}

.keyboard-special-block img {
  width: 30px;
}
