header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid #d3d6da;
  margin-bottom: 20px;
}
.header-left-icons img {
  width: 20px;
}
.header-title {
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.header-right-icons img {
  width: 20px;
}
