main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
  font-weight: bold;
}

#timer {
  font-weight: bold;
}

@keyframes correctBounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.board-block.correct-animation {
  animation: correctBounce 0.4s ease;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(6px);
  }
  75% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0);
  }
}

.board-block.wrong-animation {
  animation: shake 0.4s ease;
}
